<%- include('../partials/header') %>

<img src = "/images/home.png" alt="superhero kids">
<h3>Browse through our list of providers</h3>
<br><br>
<table id="list">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Website</th>
      <th>Practioner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% resources.forEach(function(r) { %>
      <tr>
        <td><%= r.organization %></td>
        <td><%= r.website %></td>
        <td><%= r.practioner %></td>
        <td><a href="/resources/<%= r._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
<br><br><br>
<h2>Are We Missing Something?</h2><h2><a href="/resources/new"> Let Us Know!</a></h2>
  
<%- include('../partials/footer') %>