<%- include('../partials/header') %>

<img src = "/images/home.png" alt="superhero kids">
<h1>Resource Guide</h1>
<table id="list">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Website</th>
      <th>Practioner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% resources.forEach(function(r) { %>
      <tr>
        <td><%= r.organization %></td>
        <td><%= r.website %></td>
        <td><%= r.practioner %></td>
        <td><a href="/resources/<%= r._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
<br><br><br>
  <h3><a href="/resources/new">Are We Missing Something? Let Us Know!</a></h3>
  
<%- include('../partials/footer') %>