<%- include('../partials/header') %>

<img src = "/images/home.png" alt="superhero kids">
<h3>Browse through our list of providers</h3>
<br><br>
<table id="list">
    
  <tbody>
    <% resources.forEach(function(r) { %>
      <tr>
        <td><%= r.organization %></td>
        <td><a href="/resources/<%= r._id %>">Click Here To Learn More About This Provider</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
<br><br><br>
<a href="/resources/new">Are We Missing Something? Let Us Know!</a>
<br>
<a href="/clients" <%- name === 'Add Activity' ? 'class="active"' : '' %>>Do You Have An Activity For Kids With Special Needs? Click Here!</a>
  
<%- include('../partials/footer') %>