<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Website</th>
      <th>Practioner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% resources.forEach(function(r) { %>
      <tr>
        <td><%= r.Organization %></td>
        <td><%= r.Website %></td>
        <td><%= r.Practioner %></td>
        <td><a href="/resources/<%= r._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>