<%- include('../partials/header') %>

<head>
  <title>Activities</title>
  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <main class="container">
    <div class="row">
      <div id="clients" class="col s12">
        <% clients.forEach(function(activity) { %>
          <div class="card blue">
            <div class="card-content white-text">
              <div>
                <span class="card-title">
                  <% if (client.avatarURL) { %>
                    <img src="<% client.avatarURL %>" width="20" height="20" alt="Client Photo"/>
                  <% } else { %>
                    <i class="small material-icons">perm_idenity</i>
                  <% } %>
                  <span class="client-name"><%= client.name %></span>
                  <% if (client.group) { %><span class="badge white">Parents <%= client.group %></span><% } %>
                </span>
              </div>
              <ul class="collection">
                <% client.activities.forEach(function(activity, index) { %>
                  <li class="collection-item blue-grey-text text-darken-2"><%= fact.text %></li>
                  <% if (client._id.equals(user && user._id)) { %>
                    <form action="/activities/<%= fact._id%>?_method=DELETE" method ="POST">
                      <button type="submit" class="btn white-text">Delete This Activity!</button>
                      <% } %>
                      <% }) %>
              </ul>
              <li>
              <% if (client._id.equals(user && user._id)) { %>
              <div class="card-action">
                <form action="/activities" method="POST">
                <input type="text" name="text" class="white-text">
                <button type ="submit" class="btn white-text">Add Activity!</button>
                </form>
              </div>
            <% } %>
            </div>
          </li>
          </div>
        <% }) %>
      </div>
    </div>
  </main>
</body>
</html>